# LaTeX compile artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.bcf
*.run.xml
*.idx
*.ind
*.ilg
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.xdv

# Vendored IEEE class (use system texlive-publishers)
IEEEtran.cls
